{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="{% static "main/style.css" %}">
</head>
<body style="background-color: azure">
    <div class="topnav">
        <a class="active" href="http://127.0.0.1:8000/">This Semester</a>
        <a href="http://127.0.0.1:8000/previous/">Previous Semesters</a>
    </div>
    <h1 style="text-align: center">Better RDS2</h1>
    <div class="container" hidden id="table-container" style="width:90%; margin: auto; background-color: azure">
        <table border="1" id="myTable" style="width:100%; background-color: cornsilk; padding: 10px">
            <thead>
                <tr>
                    <th>Course</th>
                    <th>Section</th>
                    <th>Faculty</th>
                    <th>Day</th>
                    <th>Start time</th>
                    <th>Finish Time</th>
                    <th>Room</th>
                    <th>Seats Available</th>
                </tr>
            </thead>
            <tbody>
                {% if data %}
                    {% for row in data %}
                        <tr>
                            <td>{{ row.Course }}</td>
                            <td>{{ row.Section }}</td>
                            <td>{{ row.Faculty }}</td>
                            <td>{{ row.Day }}</td>
                            <td>{{ row.Start_Time }}</td>
                            <td>{{ row.Finish_Time }}</td>
                            <td>{{ row.Room }}</td>
                            <td>{{ row.Seats_Available }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>

    <script type="text/javascript">
        $(document).ready( function () {
            $('#myTable').DataTable({
                "columnDefs": [ {
                    "targets": 3,
                    "createdCell": function (td, cellData, rowData, row, col) {
                        if ( cellData === "MW" ) {
                            $(td).css('background-color', '#FF7171');
                        } else if (cellData === "RA") {
                            $(td).css('background-color', '#FFB05E')
                        } else if (cellData === "ST") {
                            $(td).css('background-color', '#FFD94D')
                        } else if (cellData === "STR") {
                            $(td).css('background-color', '#FFFE5D')
                        } else if (cellData === "STWR") {
                            $(td).css('background-color', '#E1FF71')
                        } else if (cellData === "S") {
                            $(td).css('background-color', '#A9FF8F')
                        } else if (cellData === "T") {
                            $(td).css('background-color', '#73FFAF')
                        } else if (cellData === "R") {
                            $(td).css('background-color', '#48FFCE')
                        } else if (cellData === "A") {
                            $(td).css('background-color', '#20E8FF')
                        } else if (cellData === "M") {
                            $(td).css('background-color', '#4BAAFF')
                        } else if (cellData === "W") {
                            $(td).css('background-color', '#6B73FF')
                        } else if (cellData === "F") {
                            $(td).css('background-color', '#8F48FF')
                        } else if (cellData === "TBA") {
                            $(td).css('background-color', '#B05EFF')
                        }
                    }
                },
                {
                    "targets": 4,
                    "createdCell": function (td, cellData, rowData, row, col) {
                        if ( cellData === "08:00 AM" ) {
                            $(td).css('background-color', '#FF5454');
                        } else if (cellData === "09:40 AM") {
                            $(td).css('background-color', '#FF874F')
                        } else if (cellData === "11:20 AM") {
                            $(td).css('background-color', '#FFAE4F')
                        } else if (cellData === "01:00 PM") {
                            $(td).css('background-color', '#FFD74F')
                        } else if (cellData === "02:40 PM") {
                            $(td).css('background-color', '#FFFF4F')
                        } else if (cellData === "04:20 PM") {
                            $(td).css('background-color', '#B5FF4F')
                        } else if (cellData === "03:10 PM") {
                            $(td).css('background-color', '#6EFF4F')
                        } else if (cellData === "TBA") {
                            $(td).css('background-color', '#33FF4F')
                        } else if (cellData === "06:00 PM") {
                            $(td).css('background-color', '#00FF69')
                        } else if (cellData === "07:00 PM") {
                            $(td).css('background-color', '#00FFB5')
                        } else if (cellData === "03:00 PM") {
                            $(td).css('background-color', '#00FFB5')
                        } else if (cellData === "09:00 AM") {
                            $(td).css('background-color', '#00B5FF')
                        } else if (cellData === "11:15 AM") {
                            $(td).css('background-color', '#006EFF')
                        } else if (cellData === "01:30 PM") {
                            $(td).css('background-color', '#3300FF')
                        } else if (cellData === "04:00 PM") {
                            $(td).css('background-color', '#3300FF')
                        } else if (cellData === "10:35 PM") {
                            $(td).css('background-color', '#3300FF')
                        } else if (cellData === "07:30 AM") {
                            $(td).css('background-color', '#FF00C1')
                        } else if (cellData === "06:10 PM") {
                            $(td).css('background-color', '#FF00C1')
                        }
                    }
                } ]
            });
            document.getElementById("table-container").hidden = false;
        } );
    </script>
</body>
</html>